﻿@model MongePio.Models.Boleta
@{
    ViewBag.Title = "Boleta";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Boleta</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Encabezado.Sucursal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Encabezado.DireccionSucursal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Encabezado.HorarioSucursal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Encabezado.TelefonoSucursal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Encabezado.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Encabezado.DireccionCliente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Encabezado.TelefonoCliente)
        </th>

    </tr>
    <tr>
        <td>
            @Html.DisplayFor(model => model.Encabezado.Sucursal)
        </td>
        <td>
            @Html.DisplayFor(model => model.Encabezado.DireccionSucursal)
        </td>
        <td>
            @Html.DisplayFor(model => model.Encabezado.HorarioSucursal)
        </td>
        <td>
            @Html.DisplayFor(model => model.Encabezado.TelefonoSucursal)
        </td>
        <td>
            @Html.DisplayFor(model => model.Encabezado.Nombre)
        </td>
        <td>
            @Html.DisplayFor(model => model.Encabezado.DireccionCliente)
        </td>
        <td>
            @Html.DisplayFor(model => model.Encabezado.TelefonoCliente)
        </td>

    </tr>
</table>

@if (Model.ArticulosJoyeria.Count > 0)
{
    <label>Articulos Joyeria: </label>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ArticulosJoyeria.FirstOrDefault().Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArticulosJoyeria.FirstOrDefault().pesoreal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArticulosJoyeria.FirstOrDefault().pesopiedra)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArticulosJoyeria.FirstOrDefault().Piedra)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArticulosJoyeria.FirstOrDefault().PesoOro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArticulosJoyeria.FirstOrDefault().Kilataje)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArticulosJoyeria.FirstOrDefault().preciooro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArticulosJoyeria.FirstOrDefault().montoprestamo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArticulosJoyeria.FirstOrDefault().MontoRefrendo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArticulosJoyeria.FirstOrDefault().categoria)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArticulosJoyeria.FirstOrDefault().Paquete)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArticulosJoyeria.FirstOrDefault().Interes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArticulosJoyeria.FirstOrDefault().FechaInicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArticulosJoyeria.FirstOrDefault().FechaVencimiento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArticulosJoyeria.FirstOrDefault().FechaRemate)
            </th>

        </tr>
        @foreach (var item in Model.ArticulosJoyeria)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Descripcion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.pesoreal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.pesopiedra)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Piedra)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PesoOro)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Kilataje)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.preciooro)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.montoprestamo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MontoRefrendo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.categoria)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Paquete)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Interes)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaInicio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaVencimiento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaRemate)
                </td>

            </tr>
        }
    </table>
}


@if (Model.ArticulosElectricos.Count > 0)
{
    <label>Articulos Electornica: </label>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ArticulosElectricos.FirstOrDefault().Marca)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArticulosElectricos.FirstOrDefault().Modelo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArticulosElectricos.FirstOrDefault().Serie)

            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArticulosElectricos.FirstOrDefault().Descripcion)

            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArticulosElectricos.FirstOrDefault().MontoPrestado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArticulosElectricos.FirstOrDefault().MontoRefrendo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArticulosElectricos.FirstOrDefault().Paquete)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArticulosElectricos.FirstOrDefault().Interes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArticulosElectricos.FirstOrDefault().Categoria)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArticulosJoyeria.FirstOrDefault().FechaInicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArticulosElectricos.FirstOrDefault().FechaVencimiento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArticulosElectricos.FirstOrDefault().FechaRemate)
            </th>

        </tr>
        @foreach (var item in Model.ArticulosElectricos)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Marca)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Modelo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Serie)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descripcion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MontoPrestado)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MontoRefrendo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Paquete)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Interes)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Categoria)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaInicio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaVencimiento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaRemate)
                </td>

            </tr>
        }
    </table>
}
