﻿@model MongePio.Models.Empeño

@{
    ViewBag.Title = "Nuevo Empeño";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Empeño</h2>


@using (Html.BeginForm())
{
   
    <h4>Prestamo</h4>
    <hr />
    <div class="col-md-6">
        <div class="form-horizontal">

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            @Html.HiddenFor(model => model.IdEmpeño)
            @Html.HiddenFor(model => model.Folio)
            @Html.HiddenFor(model=> model.Fecha)

            <div class="form-group">
                <label class="control-label col-md-2">Sucursal</label>
                <div class="col-md-10">

                    @Html.DropDownList("IdSucursal", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.IdSucursal, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @*4*@

                <label class="control-label col-md-2"> Cliente</label>
                <div class="col-md-10">
                    <input type="text" id="Cl" class="form-control BusquedaCliente typeahead" autocomplete="off" disabled placeholder="Cargando..." />

                    @*@Html.LabelFor(model => model.IdCliente, new { @class = "Cliente BusquedaCliente" , @type = "hidden" })*@
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.IdCliente, new { htmlAttributes = new { @class = "form-control IdCliente", @type = "hidden" } })
                        @Html.ValidationMessageFor(model => model.IdCliente, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>


            <div class="form-group">
                @Html.LabelFor(model => model.Folio, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <input type="text" class="form-control FolioE" autocomplete="off" disabled />
                    @Html.ValidationMessageFor(model => model.Folio, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">Duración</label>
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.IdDuracion, (IEnumerable<SelectListItem>)ViewBag.IdDuracion, "Select ", htmlAttributes: new { @class = "form-control DuracionE" })
                    @Html.ValidationMessageFor(model => model.IdDuracion, "", new { @class = "text-danger" })
                    @Html.EditorFor(model => model.IdDuracion, new { htmlAttributes = new { @class = "form-control IdDuracion", @type = "hidden" } })
                    @Html.EditorFor(model => model.IdPrevaluo, new { htmlAttributes = new { @class = "form-control IdPrevaluo", @type = "hidden" } })


                </div>
            </div>

            @*<div class="form-group">
            @Html.LabelFor(model => model.IsOro, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.IsOro)
                    @Html.ValidationMessageFor(model => model.IsOro, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>*@

            <div class="form-group">
                @Html.LabelFor(model => model.Fecha, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Fecha, new { htmlAttributes = new { @class = "form-control FechaHoy"} })
                    @Html.ValidationMessageFor(model => model.Fecha, "", new { @class = "text-danger" })
                </div>
            </div>



            @*<div class="form-group">
            @Html.LabelFor(model => model.IdPaquete, "IdPaquete", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("IdPaquete", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.IdPaquete, "", new { @class = "text-danger" })
            </div>
        </div>*@

            @*<div class="form-group">
                <label class="control-label col-md-2">Total prestamo: </label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Capital, new { htmlAttributes = new { @class = "form-control TotalPrestamo", @disabled= "disabled" } })
                @Html.ValidationMessageFor(model => model.Capital, "", new { @class = "text-danger" })
            </div>
        </div>*@




        </div>
    </div>
    <div class="col-md-6">
        <div class="well well-lg infoclientes">
            <div class="cargando" style="display:none">Cargando...</div>
            <label>Nombre Cliente: </label><span id="NombreCliente"> --</span><br />
            <label>Direccion: </label><span id="Direccion"> --</span><br />
            <label>Estado: </label><span id="Estado"> --</span><br />
            <label>Ciudad: </label><span id="Ciudad"> --</span><br />
            <label>Colonia: </label><span id="Colonia"> --</span><br />
            <label>Telefono: </label><span id="Telefono"> --</span><br />
            <label>Telefono Celular: </label><span id="TelefonoCelular"> --</span><br />
        </div>

    </div>

<div class="clearfix"></div>
<div class="form-group Articulos" style="display: none;">

    <div class="form-group">
        <strong>Articulos</strong>
    </div>
    <div id="Empeño_Articulo" class="col-md-6">
        <h4 class="BttnArtJoy"></h4>
    </div>


    <div id="Empeño_Articulo2" class="col-md-6">
        <label class="control-label col-md-2">Buscar Articulos Electico Por Nip</label>
        <div class="col-md-10">
            <input type="text" id="EleNip" class="form-control BusquedaElect typeahead2" autocomplete="off" disabled placeholder="Cargando..." />
        </div>
        <div id="Desc_Articulo2" class="col-md-6">

        </div>
        <h4 class="BttnArtEle"></h4>
    </div>

    

    </div>

    <div class="col-md-offset-1 col-md-10">
        <input type="submit" value="Guardar" class="btn btn-default" />
    </div>
    }

    <script>
    $(document).ready()
    {
        var Idcliente;
        var FechaInicio = new Date();
        var Folio = '@ViewBag.Folio';
        var id = '@Model.IdEmpeño'
        $(".TotalPrestamo").val(0);

            $(".DuracionE").change(function(){
               var bttn = $(this).children("option:selected").val();
                var url = 'Articulo Joyeria @Ajax.ActionLink("Agregar Articulo Joyeria ", "ArticuloJoyeria", new { @id = Model.IdEmpeño,@IdDuracion= "-1"}, new AjaxOptions() { OnComplete = "", UpdateTargetId = "Empeño_Articulo", InsertionMode = InsertionMode.InsertAfter }, new { @name = " ArticuloJoyeria.Index", @class = "btn btn-success btn-xs", id = "Joyeria" })';
                var url2 = 'Agregar Electrico @Ajax.ActionLink("Agregar Articulo Electrico ", "ArticuloElectrico", new { @id = Model.IdEmpeño,@IdDuracion= "-1" }, new AjaxOptions() { OnComplete = "", UpdateTargetId = "Empeño_Articulo2", InsertionMode = InsertionMode.InsertAfter }, new { @name = " ArticuloElectrico.Index", @class = "btn btn-success btn-xs", id = "Electrico" })';
                        url = url.replace('-1',bttn);
                        url2 = url2.replace('-1',bttn);
                $(".BttnArtJoy").append(url);
              //  $(".BttnArtEle").append(url2);

                $(this).attr('disabled', 'disabled');
                $('.IdDuracion').val(bttn);
                $(".Articulos").css("display", "block");
            });

        $(".FolioE").val(Folio);

        $(".FechaHoy").val(FechaInicio.getDate() + '-' + (FechaInicio.getMonth() + 1) + '-' + FechaInicio.getFullYear());
        $(".FechaHoy").attr('disabled', 'disabled');

        $('input.typeahead').attr("placeholder", "Busca por  Nombre")
        $('input.typeahead').removeAttr("disabled");

        $('input.typeahead').typeahead({
            minLength: 2,
            source: function (query, process) {
                $.ajax({
                    url: '/Empeño/_GetClientes',
                    type: 'POST',
                    dataType: 'JSON',
                    data: { q: query },
                    success: function (d) {
                        return process(d);
                    }
                });
            },
            displayText: function (h) {
                return h.text;
            },
            updater: function (item) {
                $('input.typeahead').val(item.value)
                debugger;

                $('.IdCliente').val(item.value);
                LllenarInfo(item.value);

                return item;
            }
        });

        $('input.typeahead2').attr("placeholder", "Busca por Nip")
        $('input.typeahead2').removeAttr("disabled");

        $('input.typeahead2').typeahead({
            minLength: 1,
            source: function (query, process) {

                $.ajax({
                    url: '/Empeño/_GetPreElecticos',
                    type: 'POST',
                    dataType: 'JSON',
                    data: { q: query , z:$('.IdDuracion').val() },
                    success: function (d) {
                        return process(d);
                    }
                });
            },
            displayText: function (h) {
                return h.text;
            },
            updater: function (item) {
                $('input.typeahead2').val(item.value)


                $('.IdPrevaluo').val(item.value);
                MostrarArticulos(item.value);

                return item;
            }
        });


        function LllenarInfo(Id) {
            $(".cargando").show();
            $.ajax({
                url: '/Empeño/_GetInfoClientes',
                type: 'POST',
                dataType: 'JSON',
                data: { q: Id },
                success: function (d) {
                    $(".cargando").hide();
                    $('#NombreCliente').text(d[0].Nombre);
                    $('#Direccion').text(d[0].Direccion);
                    $('#Estado').text(d[0].Estado);
                    $('#Ciudad').text(d[0].Ciudad);
                    $('#Colonia').text(d[0].Colonia);
                    $('#Telefono').text(d[0].Telefono);
                    $('#TelefonoCelular').text(d[0].TelefonoCelular);
                    $('#IdCliente').text(d[0].Id);

                }
            });
        }

        function MostrarArticulos(Id) {
            $(".cargando").show();
            $.ajax({
                url: '/Empeño/_GetInfoArticulos',
                type: 'POST',
                dataType: 'JSON',
                data: { q: Id },
                success: function (d) {
                    $(".cargando").hide();

                    d.forEach(ImprimirArticulos);
                }
            });
        }

        function ImprimirArticulos(Item) {
            $('#Empeño_Articulo2').append('<div class="col-sm-12"><div class="form-horizontal"  style="text-aligm:left"><label class="control-label col-md-12 pull-left">Marca: ' + Item.Marca + '</label><label class="control-label col-md-12">Modelo: ' + Item.Modelo + '</label><label class="control-label col-md-6">Serie: ' + Item.Seire + '</label><label class="control-label col-md-6">Descripcion : ' + Item.Descripcion + '</label><label class="control-label col-md-6">Monto: $' + Item.MontoPrestamo + '</label><label class="control-label col-md-6"></label><br></div></div>');
        }


    }






    </script>

