﻿@model MongePio.Models.Empeño

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Empeño</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IdCliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdCliente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Folio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Folio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsOro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsOro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Capital)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Capital)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdEmpeñoAnterior)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdEmpeñoAnterior)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdClienteAnterior)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdClienteAnterior)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EstatusEmpeño.Estatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EstatusEmpeño.Estatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Paquete.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Paquete.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sucursal.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sucursal.Nombre)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
