﻿@model MongePio.Models.Empeño

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Empeño</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IdCliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdCliente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Folio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Folio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsOro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsOro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Capital)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Capital)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdEmpeñoAnterior)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdEmpeñoAnterior)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdClienteAnterior)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdClienteAnterior)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EstatusEmpeño.Estatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EstatusEmpeño.Estatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Paquete.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Paquete.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sucursal.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sucursal.Nombre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdEmpeño }) |
    @Html.ActionLink("Back to List", "Index")
</p>
