﻿@model IEnumerable<MongePio.Models.Empeño>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IdCliente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Folio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsOro)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fecha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Capital)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdEmpeñoAnterior)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdClienteAnterior)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EstatusEmpeño.Estatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Paquete.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sucursal.Nombre)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IdCliente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Folio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsOro)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fecha)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Capital)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IdEmpeñoAnterior)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IdClienteAnterior)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EstatusEmpeño.Estatus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Paquete.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sucursal.Nombre)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdEmpeño }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdEmpeño }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdEmpeño })
        </td>
    </tr>
}

</table>
