﻿body {
   
}
/*input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


input[type=number] {
    -moz-appearance: textfield;
}*/

.checkbox input[type="checkbox"] + span {
    opacity: 0;
    position: absolute;
    left: 0;
    margin-left: -18px;
}
.checkbox input[type="checkbox"]:checked + span {
    opacity: 1
}