﻿.sorting_asc {
    background:#c8c8c8 !important;
    color:#333 !important;
}
.sorting_desc{
    background:#c8c8c8 !important;
    color:#333 !important;
}
table.dataTable thead .sorting_asc::after {
    color:#333 !important;
}
.hrDetail {
    margin-top: 0px; margin-bottom: 0px;background: #a3a3a3;margin-bottom:10px; 
}
.downloadButton{
margin-left:10px; background: #03a9f3 ; color:#FFFFFF; padding:0px 5px 0px 5px; border-radius: 2px
}
.dataTables_length select {
    min-width:85px !important;
}
.searchExtension {
    margin-bottom:10px;
}
.notes-normal {
    display: block;
}

    .notes-normal .note {
        background-color: #DDFFF7;
    }

.note {
    margin-bottom: 15px;
    background-color: #FFFFFF;
    padding: 5px 9px 5px 15px;
}

.note-header {
    padding-bottom: 0.3em;
    border-bottom: lightgrey 1px solid;
    position: relative;
}

.note .author {
    display: inline-block;
    font-weight: bold;
    font-size: 90%;
}

.author {
    /*color: #428bca;*/
}

.note .date {
    display: inline-block;
    font-size: 90%;
    color: grey;
}

.note pre {
    background-color: transparent;
    border: none;
    font-size: inherit;
    color: inherit;
    margin: 0;
    padding: 9px 0;
    white-space: pre-wrap;
    word-break: break-all;
}

.btnRefresh {
    margin-left: 10px !important;
}

.redColor {
    background-color: #D91E18 !important;
}

.greenColor {
    background-color: #16a085 !important
}

table {
    font-size: 13px !important;
}

.panel-heading-custom {
    font-weight: 600;
    color: #0e71b8 !important;
    font-size: 16px;
    text-transform: uppercase;
    word-spacing: 3px;
}

.m40 {
    margin-top: 40px !important;
}

.panel-title-custom {
    color: #0e71b8 !important;
    margin-right: 3px !important;
}

.hand {
    cursor: pointer !important;
}

.noteColor {
    color: #C49F47;
}

.select2-selection--multiple {
    min-height: 36px !important;
}

.dataTables_length {
    margin-top: 7px !important;
}

.field-validation-error {
    color: #a94442;
}

.input-validation-error {
    border-color: #a94442;
}

.activeMenu {
    background: #363D49 !important;
}

.bootstrap-tagsinput {
    width: 100% !important;
    padding-top: 7px;
    padding-bottom: 7px !important;
    border: 1px solid #e4e7ea;
}

.label-info {
    background: #16a085 !important;
}


.btn-red {
    background: #ea444f  url("") repeat scroll 0 0;
    border: 1px solid #ea444f;
    color: #FFFFFF !important;
}

    .btn-red:hover {
        background: #f24853 url("") repeat scroll 0 0;
        border: 1px solid #f24853;
        color: #FFFFFF !important;
    }

.btn-orange {
    background: #ef7d1c url("") repeat scroll 0 0;
    border: 1px solid #ef7d1c;
    color: #FFFFFF !important;
}

.btn-orange:hover {
    background: #F2974D url("") repeat scroll 0 0;
    border: 1px solid #F2974D;
    color: #FFFFFF !important;
}

.fa-stop {
    color: #F2974D !important;
}

.hoverIcon:hover {
    color: #0e71b8 !important;
}

.textoContiguo {
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word; /* Sólo WebKit -NO DOCUMENTADO */
    -ms-hyphens: auto; /* Guiones para separar en sílabas */
    -moz-hyphens: auto; /*  depende de lang en <html>      */
    -webkit-hyphens: auto;
    hyphens: auto;
}

.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
    padding: 8px;
}

.tooltip {
    position: fixed;
}

/*ocultar el buscar de los datatables*/
#tableTranscriptions_filter {
    display: none !important;
}

#tableCustomer_filter {
    display: none !important;
}

.dataTables_processing {
    background: #0e71b8 !important;
    color: #FFFFFF !important;
    z-index: 9999;
}
#tableAlarmsHistory_filter {
    display: none !important;
}

