﻿@model MongePio.Models.DescripcionArticuloJoyeria

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>DescripcionArticuloJoyeria</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IdKilataje)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdKilataje)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Peso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Peso)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdEstatusVenta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdEstatusVenta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsVendido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsVendido)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdSucursal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdSucursal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MontoVenta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MontoVenta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdDescripcionVieja)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdDescripcionVieja)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdCategoriaJoyeria1.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdCategoriaJoyeria1.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Paquete.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Paquete.Nombre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
