﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/x-icon" sizes="16x16" href="~/Content/images/Recorder.ico">
    <title>@ViewBag.Title</title>
    <!-- Bootstrap Core CSS -->
    <link href="~/Content/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <!-- animation CSS -->
    <link href="~/Content/css/animate.css" rel="stylesheet" />
    <!-- Custom CSS -->
    <link href="~/Content/css/style.css" rel="stylesheet" />
    <link href="~/Content/plugins/DataTables/media/css/dataTables.bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/plugins/select2/css/select2.min.css" rel="stylesheet" />
    <link href="~/Content/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/plugins/bower_components/multiselect/css/multi-select.css" rel="stylesheet" />
    <link href="~/Content/submenu.css" rel="stylesheet" />
    <!-- color CSS -->
    <link href="~/Content/css/colors/default.css" rel="stylesheet" />
    <link href="~/Content/css/recorderCustom.css" rel="stylesheet" />


    <!-- jQuery -->
    <script src="~/Content/plugins/bower_components/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="~/Content/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/Content/plugins/select2/js/select2.full.min.js"></script>
    <script src="~/Content/plugins/select2/js/i18n/es.js"></script>

    <script src="~/Content/plugins/bower_components/moment/moment.js"></script>

    <!--Jquery custom-->
    <script src="~/Content/plugins/DataTables/media/js/jquery.dataTables.min.js"></script>
    <script src="~/Content/plugins/DataTables/media/js/dataTables.bootstrap.min.js"></script>
    <script src="~/Content/plugins/DataTables/extensions/Buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/Content/plugins/DataTables/extensions/Buttons/js/buttons.html5.min.js"></script>
    <script src="~/Content/plugins/DataTables/extensions/Buttons/js/buttons.bootstrap.min.js"></script>
    <script src="~/Content/plugins/DataTables/extensions/Buttons/js/buttons.flash.min.js"></script>
    <script src="~/Content/plugins/DataTables/extensions/Buttons/js/jszip.min.js"></script>

    <script src="~/Scripts/jquery.validate.js"></script>
    <link href="~/Content/css/jquery.loadmask.css" rel="stylesheet" />
    <script src="~/Content/js/plugins/forms/jquery.loadmask.min.js"></script>
    <script src="~/Content/plugins/sweetAlert/sweetalert2.all.js"></script>
    <script src="~/Content/plugins/bower_components/multiselect/js/jquery.multi-select.js"></script>

    <script src="~/Content/plugins/daterangepicker/moment.js"></script>
    <link href="~/Content/plugins/daterangepicker/daterangepicker.css" rel="stylesheet" />
    <script src="~/Content/plugins/daterangepicker/daterangepicker.js"></script>
 
    <script src="~/Scripts/bootstrap3-typeahead.js"></script>
    <script src="~/Scripts/bootstrap3-typeahead.min.js"></script>

    <!--- Jquery Unobtrusive -->
    <script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")" type="text/javascript"></script>

    <style>
    </style>

</head>
<body class="rmv-sidebarmenu">
    <!-- Preloader -->
    @*<input type="hidden" id="sessionRoute" value="@Url.Action("Exit","Login", new { Area ="" })" />
    <input type="hidden" id="session_expired" value="@Global.sessionExpired" />
    <input type="hidden" id="mask_wait" value="@Global.maskWait" />*@

    @*<input type="hidden" id="sessionLogout" name="sessionLogout" value="@Url.Action("Exit", "Login", new { area = "" })" />
    <input type="hidden" id="session_timeout" name="session_timeout" value="@Url.Action("Exit", "Login", new { id = 1 })" />
    <input type="hidden" id="LoginRoute" name="LoginRoute" value="@Url.Action("Login", "Login", new { area = "" })" />*@

    <div class="preloader">
        <div class="cssload-speeding-wheel"></div>
    </div>
    <div id="wrapper">
        <!-- Top Navigation -->
        <nav class="navbar navbar-default navbar-static-top m-b-0">
            <div class="navbar-header">

                <!-- .Logo -->
                <div class="top-left-part">
                    <a class="logo" href="@Url.Action("Index","Home", new { area = "" })">
                        <!--This is logo icon-->
                        @*<img src="~/Content/images/logo.png" alt="Inicio" class="light-logo" />*@
                    </a>
                </div>
                <ul class="nav navbar-top-links navbar-left hidden-xs">
                    <li>
                        <a href="@Url.Action("Index","Home", new { area = "" })" class="logotext">
                            <!--This is logo text-->
                            @*<img src="~/Content/images/logo.png" alt="Inicio" class="light-logo" />*@
                        </a>
                    </li>
                </ul>
                <!-- /.Logo -->
                <!-- top right panel -->
                <div class="pull-right">
                    <div style="float:left; padding-top:3px; padding-right:10px;">
                        @*<img src="~/Content/images/logo-default.png" style="max-height:50px" />*@
                    </div>
                    <div style="float:left; padding:13px;">
                        <span id="spanClient" style="color:white;font-size:large; font-weight:bold">Monge Pio</span>
                    </div>
                    <ul class="nav navbar-top-links navbar-right pull-right">
                        <li class="dropdown">
                            <a href="#" title="Configuración" data-toggle="dropdown"><i data-icon="P" class="linea-icon linea-basic fa-fw"></i> Configuración</a>
                            <ul class="dropdown-menu animated flipInY">
                                <li role="separator" class="divider"></li>
                                <li class="dropdown-submenu">
                                    <h3 class="menu-title"><i data-icon="P" class="linea-icon linea-basic fa-fw"></i> Catalogos</h3>
                                    <ul class="dropdown-menu">
                                        <li><a href="@Url.Action("Index", "Colonias")">Colonias</a></li>
                                        <li><a href="@Url.Action("Index", "Ciudades")">Ciudades</a></li>
                                        <li><a href="@Url.Action("Index", "Puestoes")">Puestos </a></li>
                                        <li><a href="@Url.Action("Index", "Empleado")">Empleados</a></li>
                                        <li><a href="@Url.Action("Index", "Sucursal")">Sucursales</a></li>
                                        <li><a href="@Url.Action("Index", "Permisos")">Permisos</a></li>
                                        <li><a href="@Url.Action("Index", "Paquete")">Paquetes</a></li>
                                        @*<li><a href="@Url.Action("Index", "Home")">Ticket</a></li>*@
                                    </ul>
                                </li>
                                <li role="separator" class="divider"></li>
                                <li class="dropdown-submenu">
                                    <h3 class="menu-title"><i data-icon="P" class="linea-icon linea-ecommerce fa-balance-scale"></i> Reportes</h3>
                                    <ul class="dropdown-menu">
                                        <li><a href="@Url.Action("Index", "Home")">Reportes</a></li>
                                        <li><a href="@Url.Action("Index", "Home")">Reportes Punto de Venta</a></li>
                                    </ul>
                                </li>
                                <li role="separator" class="divider"></li>
                            </ul>
                        </li>
                        <!-- .dropdown -->
                        <li class="dropdown">
                            <a class="fa fa-2x fa-bars" data-toggle="dropdown" href="#"></a>
                            <ul class="dropdown-menu animated flipInY">
                                <li><a data-toggle="modal" href="#SelectModal"><i class="fa fa-exchange"></i> Cambiar sucursal</a></li>
                                
                                <li role="separator" class="divider"></li>
                                <li><a data-toggle="modal" href="#askModal" title="Salir del portal"><i class="fa fa-power-off"></i> Cerrar Sesión</a></li>
                            </ul>
                        </li>
                        <!-- /.dropdown -->
                    </ul>
                </div>
                <!-- top right panel -->
            </div>
        </nav>
        <!-- End Top Navigation -->

            <!-- .Side panel -->
            <div class="side-mini-panel">
                <ul class="mini-nav">

                    <div class="togglediv"><a href="javascript:void(0)" id="togglebtn"><i class="ti-angle-double-left"></i></a></div>

                    <li class="">
                        <a href="javascript:void(0)" title="Sucursal"><i class="fa fa-building"></i></a>
                        <div class="sidebarmenu">
                            <!-- Left navbar-header -->
                            <h3 class="menu-title">Sucursal</h3>

                            <ul class="sidebar-menu">
                                <li role="separator" class="divider"></li>
                                <h3 class="menu-title btn btn-default">Empeño</h3>
                                <li role="separator" class="divider"></li>
                                <li><a href="@Url.Action("Index", "Clientes")">Clientes</a></li>
                                <li><a href="@Url.Action("Index", "Home")">Colaborador</a></li>
                                <li><a href="@Url.Action("Index", "Home")">Categorias</a></li>
                                <li><a href="@Url.Action("Index", "Home")">Conceptos General</a></li>

                                <li role="separator" class="divider"></li>
                                <h3 class="menu-title btn btn-default">Electronicos</h3>
                                <li role="separator" class="divider"></li>
                                <li><a href="@Url.Action("Create", "Prevaluos")">Alta Articulos</a></li>
                                <li><a href="@Url.Action("Index", "Home")">Almacenes</a></li>
                                <li><a href="@Url.Action("Index", "Home")">Proveedores</a></li>
                                <li><a href="@Url.Action("Index", "Home")">Promociones</a></li>
                                <li><a href="@Url.Action("Index", "Home")">Plazo Vencimiento</a></li>
                                <li><a href="@Url.Action("Index", "Home")">Precio Cambio</a></li>
                                <li><a href="@Url.Action("Index", "Home")">Ubicación de Productos</a></li>
                                <li><a href="@Url.Action("Index", "Home")">Tipos de pago</a></li>
                                <li><a href="@Url.Action("Index", "Home")">Descuentos</a></li>
                                <li><a href="@Url.Action("Index", "Home")">Descuentos Especiales</a></li>
                                <li><a href="@Url.Action("Index", "Home")">Ivas</a></li>
                            </ul>
                            <!-- Left navbar-header end -->
                        </div>
                    </li>

                    <li class="">
                        <a href="javascript:void(0)" title="Empeño"><i class="fa fa-cart-arrow-down"></i></a>
                        <div class="sidebarmenu">
                            <!-- Left navbar-header -->
                            <h3 class="menu-title">Empeño</h3>
                            <ul class="sidebar-menu">
                                <li role="separator" class="divider"></li>
                                <h3 class="menu-title btn btn-default">Empeño</h3>
                                <li role="separator" class="divider"></li>
                                <li><a href="@Url.Action("Create", "Empeño")">Prestamo</a></li>
                                <li><a href="@Url.Action("Index", "Home")">Movimientos</a></li>
                                <li><a href="@Url.Action("Index", "Home")">Compras</a></li>
                                <li><a href="@Url.Action("Index", "Home")">Captura de Articulos</a></li>
                                <li><a href="@Url.Action("Index", "Home")">Activar Vencidos</a></li>
                                <li role="separator" class="divider"></li>
                                <h3 class="menu-title btn btn-default">Cajas</h3>
                                <li role="separator" class="divider"></li>
                                <li><a href="@Url.Action("Index", "Home")">Apertura Caja</a></li>
                                <li><a href="@Url.Action("Index", "Home")">Movimiento entre Cajas</a></li>
                                <li><a href="@Url.Action("Index", "Home")">Corte de Cajas</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a class="menu-title btn btn-default">Cancelaciones</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a class="menu-title btn btn-default">Movmientos Caja General</a></li>
                            </ul>
                            <!-- Left navbar-header end -->
                        </div>
                    </li>

                    <li class="">
                        <a href="javascript:void(0)" title="Electronicos"><i class="fa fa-list"></i></a>
                        <div class="sidebarmenu">
                            <!-- Left navbar-header -->
                            <h3 class="menu-title">Electronicos</h3>
                            <ul class="sidebar-menu">
                                <li role="separator" class="divider"></li>
                                <h3 class="menu-title btn btn-default">Cajas</h3>
                                <li role="separator" class="divider"></li>
                                <li><a href="@Url.Action("Index", "Home")">Apertura Caja</a></li>
                                <li><a href="@Url.Action("Index", "Home")">Corte de Cajas</a></li>
                                <li role="separator" class="divider"></li>
                                <h3 class="menu-title btn btn-default">Inventario</h3>
                                <li role="separator" class="divider"></li>
                                <li><a href="@Url.Action("Index", "Home")">Carga Almacen</a></li>
                                <li><a href="@Url.Action("Index", "Home")">Generar Electronicos Vencidos</a></li>
                                <li><a href="@Url.Action("Index", "Home")">Inventarios</a></li>
                                <li><a href="@Url.Action("Index", "Home")">Kardex de Producto</a></li>
                                <li><a href="@Url.Action("Index", "Home")">Apartados Vencidos</a></li>
                                <li><a href="@Url.Action("Index", "Home")">Activar Vencidos</a></li>
                                <li role="separator" class="divider"></li>
                                <h3 class="menu-title btn btn-default">Ventas</h3>
                                <li role="separator" class="divider"></li>
                                <li><a href="@Url.Action("Index", "Home")">Ventas</a></li>
                                <li><a href="@Url.Action("Index", "Home")">Caja de cobro</a></li>
                                <li><a href="@Url.Action("Index", "Home")">Abonos y Liquidaciones</a></li>
                                <li><a href="@Url.Action("Index", "Home")">Devoluciones de Clientes</a></li>
                                <li><a href="@Url.Action("Index", "Home")">Mermas</a></li>
                                <li><a href="@Url.Action("Index", "Home")">Compras a Proveedor</a></li>
                                <li><a href="@Url.Action("Index", "Home")">Ceuntas por Pagar</a></li>
                                <li><a href="@Url.Action("Index", "Home")">Reimpresiones</a></li>
                            </ul>
                            <!-- Left navbar-header end -->
                        </div>
                    </li>

                    <li class="">
                        <a href="javascript:void(0)" title="Configuraciones"><i class="fa fa-cog"></i></a>
                        <div class="sidebarmenu">
                            <!-- Left navbar-header -->
                            <h3 class="menu-title">Configuraciones</h3>
                            <ul class="sidebar-menu">
                                <li role="separator" class="divider"></li>
                                <h3 class="menu-title btn btn-default">Empeño</h3>
                                <li role="separator" class="divider"></li>
                                <li><a href="@Url.Action("Index", "Home")">Cajas</a></li>
                                <li><a href="@Url.Action("Index", "Home")">Dias Festivos</a></li>
                                <li><a href="@Url.Action("Index", "Home")">Kilataje</a></li>
                                <li><a href="@Url.Action("Index", "Home")">Tipo de Cambio</a></li>
                                <li><a href="@Url.Action("Index", "Home")">Impresora</a></li>
                                <li role="separator" class="divider"></li>
                                <h3 class="menu-title btn btn-default">Electronicos</h3>
                                <li role="separator" class="divider"></li>
                                <li><a href="@Url.Action("Index", "Home")">Cajas</a></li>
                                <li><a href="@Url.Action("Index", "Home")">Impresora</a></li>
                            </ul>
                            <!-- Left navbar-header end -->
                        </div>
                    </li>
                </ul>
            </div>
            <!-- /.Side panel -->
        <!-- Page Content -->
        <div id="page-wrapper" style="margin-right:0px !important">
            <div class="container-fluid">
                @RenderBody()
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->
    <input type="hidden" id="urlLanguageDataTables" value="@Url.Content("~/Content/plugins/DataTables/extensions/Languaje/Spanish.json")" />

    <!--slimscroll JavaScript -->
    <script src="~/Content/js/jquery.slimscroll.js"></script>
    <!--Wave Effects -->
    <script src="~/Content/js/waves.js"></script>
    <!--Counter js -->
    <script src="~/Content/plugins/bower_components/waypoints/lib/jquery.waypoints.js"></script>
    <script src="~/Content/plugins/bower_components/counterup/jquery.counterup.min.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="~/Content/js/custom.min.js"></script>
    <!--Style Switcher -->
    <script src="~/Content/plugins/bower_components/styleswitcher/jQuery.style.switcher.js"></script>

</body>
</html>

<!-- generic modal -->
<div id="dialogModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="sessionModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="myModalLabel">Monge Pio</h4>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-custom waves-effect" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<!-- generic modal -->
<div id="askModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Monge Pio</h4>
            </div>
            <div class="modal-body">
                sesion
            </div>
            <div class="modal-footer">
                <a class="btn btn-success waves-effect" href="@Url.Action("Exit", "Login", new { area = "" })" title="Cerrar Sesion"><i class="icon-logout m-r-10"></i> Cerrar Sesion</a>
                <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

@using (Ajax.BeginForm("CambioSucursal", "Home", null, new { @id = "frmForm", @class = "form-horizontal" }))
{
    <!-- Select clients modal -->
    <div id="SelectModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="sessionModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content" id="container-clients">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Selecciona el cliente a trabajar</h4>
                </div>
                <div class="modal-body" id="divContenedor">
                    <div class="row">
                        <div class="col-lg-12">
                            @*@Html.DropDownList("txtId", new SelectList(Session["ListSucursal"] as IEnumerable<MongePio.Models.Sucursal>, "IdSucursal", "Nombre"), null, new { @style = "width:100%", @class = "form-control" })*@
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-custom waves-effect waves-light" id="btnSave">Aceptar</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
}

<!-- end session modal -->
<div id="sessionModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="sessionModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="myModalLabel">Monge Pio</h4>
            </div>
            <div class="modal-body">
                sesion
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger waves-effect" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<script type="text/javascript">

        // Restricts input for each element in the set of matched elements to the given inputFilter.
    (function ($) {
        $.fn.inputFilter = function (inputFilter) {
            return this.on("input keydown keyup mousedown mouseup select contextmenu drop", function () {
                if (inputFilter(this.value)) {
                    this.oldValue = this.value;
                    this.oldSelectionStart = this.selectionStart;
                    this.oldSelectionEnd = this.selectionEnd;
                } else if (this.hasOwnProperty("oldValue")) {
                    this.value = this.oldValue;
                    this.setSelectionRange(this.oldSelectionStart, this.oldSelectionEnd);
                }
            });
        };
    }(jQuery));

    (function ($) {
        $(document).ready(function () {

            onSuccessAjax = function (data) {
                if (data == "_logoff_" || data == "\"_logoff_\"") {
                    $("#sessionModal").modal('show');
                    $("#sessionModal").on("hidden.bs.modal", function () {
                        logoutLink = $("#session_timeout").val();
                        document.location.href = logoutLink;
                    });
                }
            }

            $("#togglebtn").trigger("click");

            addListMask = function () {
                $(".list_container").mask("Espere...");
            }

            removeListMask = function () {
                $(".list_container").unmask();
            }

            $("#cboListClients").select2({
                dropdownParent: $("#SelectModal"),
                minimumInputLength: 3,
                inimumResultsForSearch: Infinity,
                language: "es",
                language: {
                    inputTooShort: function () {
                        return 'Escriba al menos 3 caracteres';
                    }
                }
            });
        });
    })(jQuery);

    function OnBeginChange() {
        $("#divContenedor").mask("Espere...");
    }

    function onSuccessChange(result) {

        if (result.IsError) {
            swal({
                type: 'error',
                title: result.Message
            });
        } else {
            $("#SelectModal").modal('hide');
            $("#spanClient").html(result.sValue1);
            location.reload(true);
            $("#IdClient").val(result.Identity1);
        }

        $("#divContenedor").unmask();
    }

    function onFailureChange() {
        $("#divContenedor").unmask();
    }
</script>