﻿@model MongePio.Models.DescripcionArticuloJoyeria


    <div class="col-sm-12 ArtJoy" id="@Model.Id">

        @using (Html.BeginCollectionItem("ArticulosJoyeria"))
        {
            @*@Html.AntiForgeryToken()*@
            @Html.HiddenFor(model => model.IdEmpeño)
            @Html.HiddenFor(model => model.Id)

            <div class="form-horizontal">
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.IdKilataje, "Kilataje", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-6">
                        @Html.DropDownListFor(x => x.IdKilataje, (IEnumerable<SelectListItem>)ViewBag.Kilatajes, "Seleccionar", htmlAttributes: new { @class = "form-control kilataje" })
                        @Html.ValidationMessageFor(model => model.IdKilataje, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div style="display:none;">
                    @Html.EditorFor(model => model.PrecioOro, new { htmlAttributes = new { @class = "form-control PrecioOro" } })
                    @Html.EditorFor(model => model.Interes, new { htmlAttributes = new { @class = "form-control Interes" } })
                    @Html.EditorFor(model => model.InteresMoratorio, new { htmlAttributes = new { @class = "form-control InteresMoratorio" } })
                    @Html.EditorFor(model => model.InteresRemate, new { htmlAttributes = new { @class = "form-control InteresRemate" } })
                    @Html.EditorFor(model => model.FechaInicio, new { htmlAttributes = new { @class = "form-control FechaInicio" } })
                    @Html.EditorFor(model => model.FechaVencimiento, new { htmlAttributes = new { @class = "form-control FechaVencimiento" } })
                    @Html.EditorFor(model => model.FechaMoratorio, new { htmlAttributes = new { @class = "form-control FechaMoratorio" } })
                    @Html.EditorFor(model => model.FechaRemate, new { htmlAttributes = new { @class = "form-control FechaRemate" } })
                    @Html.EditorFor(model => model.PesoFinal, new { htmlAttributes = new { @class = "form-control PesoFinal" } })
                    @*<input class="" name=""><br><br>*@
                    <input class="MontoMaximo"><br><br>
                </div>


                <div class="form-group">
                    @Html.LabelFor(model => model.Descripcion, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-6">
                        @Html.TextAreaFor(model => model.Descripcion, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Descripcion, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Peso, "Peso Real", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-6">
                        @Html.TextBoxFor(model => model.Peso, new { @class = "form-control PesoReal", @type = "number", @min = "0", @max = "100000" })
                        @Html.ValidationMessageFor(model => model.Peso, "", new { @class = "text-danger" })
                    </div>
                    <label>Gr.</label>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.IdCategoriaJoyeria, "Categoria", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-6">
                        @Html.DropDownListFor(model => model.IdCategoriaJoyeria, (IEnumerable<SelectListItem>)ViewBag.CategoriasJoyeria, "Seleccionar", htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.IdCategoriaJoyeria, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.IdPaquete, "Paquete", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-6">
                        @Html.DropDownListFor(model => model.IdPaquete, (IEnumerable<SelectListItem>)ViewBag.Paquetes, "Seleccionar", htmlAttributes: new { @class = "form-control Paquete" })
                        @Html.ValidationMessageFor(model => model.IdPaquete, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-6">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" class="form-check-input TienePiedra"> Piedra
                                <span class="glyphicon glyphicon-check text-primary"></span>
                            </label>
                        </div>
                    </div>
                </div>



                <div class="form-group Piedra" style="display:none;">
                    @Html.LabelFor(model => model.IdPiedra, "Piedra", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-6">
                        @Html.DropDownListFor(model => model.IdPiedra, (IEnumerable<SelectListItem>)ViewBag.Piedra, "Seleccionar", htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.IdPiedra, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group Piedra2" style="display:none;">

                    @Html.LabelFor(model => model.PesoPiedra, "Peso Piedra", htmlAttributes: new { @class = "control-label col-md-2" })

                    <div class="col-md-6">
                        <div class="input-group">
                            @Html.TextBoxFor(model => model.PesoPiedra, new { @class = "form-control PesoPiedra", @type = "number", @min = "0", @max = "100000", @maxlength = "10" })
                            <span class="input-group-addon" id="basic-addon2">Gramos</span>
                            @Html.ValidationMessageFor(model => model.PesoPiedra, "", new { @class = "text-danger" })
                        </div>
                    </div>

                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.MontoPrestamo, "Monto Prestamo", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-6">
                        <label class="LabelMax"></label>
                        @Html.TextBoxFor(model => model.MontoPrestamo, new { @class = "form-control MontoArtjoy", @type = "number", @min = "0", @max = "100000" })
                        @Html.ValidationMessageFor(model => model.MontoPrestamo, "", new { @class = "text-danger" })
                    </div>
                </div>


            </div>
        }
        <a href="#@Model.Id" class="btn btn-danger btn-xs pull-right btn-eliminar-destino">Borrar Articulo</a>
    </div>

    <script>

            Date.prototype.addDays = function(days) {
                var date = new Date(this.valueOf());
                date.setDate(date.getDate() + days);
            return date;
        }

        var Precios =  @Html.Raw(Json.Encode(ViewBag.precios));
        var Paquete =  @Html.Raw(Json.Encode(ViewBag.paquete));
        var idArtJoy = "@Model.Id";
        var PesoPiedra = 0;//Peso  piedra
        var PesoJoya = 0;//Peso sin piedra
        var PesoReal = 0;
        //var totalAct =0;
        //var montoJoy =0;
        //var TotalNuevo =0;
        var PorcentajePrestamo = .8;

        $('body').on('click', '.btn-eliminar-destino', function () {

            var $btn = $(this);
            var hash = $btn.attr("href");

            $(hash).fadeOut();
            setTimeout(function () {
                $(hash).remove();
            }, 2000);
            

        });


        $("#"+ idArtJoy +"input[type=number]").keydown(function (e) {
            if (e.keyCode == 38 || e.keyCode == 40) {
                return false
            }
        });

        //***Obtener Precio Oro para prestamo**//
        $("#" + idArtJoy + " .kilataje").change(function (k) {
            //debugger;
            var id = $(this).val();
            var result = Precios.filter(obj => {
                return obj.Id === id
            });
            $("#"+ idArtJoy +" .PrecioOro").val(result[0].Precio);
        });

        $("#"+ idArtJoy +" .Paquete").change(function (k) {
            var FechaInicio = new Date();
            var FechaVencimiento = new Date();
            var id = $(this).val();
            var result = Paquete.filter(obj => {
                return obj.IdPaquete === id
            });
            var FechaInicio = new Date();
            var FechaVencimiento = FechaInicio.addDays(result[0].Duracion);
            var FechaMoratorio = FechaVencimiento.addDays(result[0].DuracionMoratorio);
            var FechaRemate = FechaMoratorio.addDays(result[0].DuracionRemate);
          //  debugger;
            $("#"+ idArtJoy +" .Interes").val(result[0].Interes);
            $("#"+ idArtJoy +" .FechaInicio").val(FechaInicio.getFullYear() + '-' + (FechaInicio.getMonth() + 1) + '-' + FechaInicio.getDate() + ' ' + FechaInicio.getHours() + ":" + FechaInicio.getMinutes() + ":" + FechaInicio.getSeconds());
            $("#"+ idArtJoy +" .FechaVencimiento").val(FechaVencimiento.getFullYear() + '-' + (FechaVencimiento.getMonth() + 1) + '-' + FechaVencimiento.getDate() + ' ' + FechaVencimiento.getHours() + ":" + FechaVencimiento.getMinutes() + ":" + FechaVencimiento.getSeconds());
            $("#"+ idArtJoy +" .FechaMoratorio").val(FechaMoratorio.getFullYear() + '-' + (FechaMoratorio.getMonth() + 1) + '-' + FechaMoratorio.getDate() + ' ' + FechaMoratorio.getHours() + ":" + FechaMoratorio.getMinutes() + ":" + FechaMoratorio.getSeconds());
            $("#"+ idArtJoy +" .FechaRemate").val(FechaRemate.getFullYear() + '-' + (FechaRemate.getMonth() + 1) + '-' + FechaRemate.getDate() + ' ' + FechaRemate.getHours() + ":" + FechaRemate.getMinutes() + ":" + FechaRemate.getSeconds());

        });
        $("#" + idArtJoy + " .TienePiedra").change(function () {
            //debugger;
            var display = $("#"+ idArtJoy +" .Piedra").css("display");
           // debugger;
           if (display == "none") {
               $("#"+ idArtJoy +" .Piedra").css("display", "block");;
               $("#"+ idArtJoy +" .Piedra2").css("display", "block");;

           } else {
               $("#"+ idArtJoy +" .Piedra").css("display", "none");
               $("#"+ idArtJoy +" .Piedra2").css("display", "none");
           }
        });

        //AlModificarPesoReal
        $("#" + idArtJoy + " .PesoReal").change(function () {
            PesoReal = $("#" + idArtJoy + " .PesoReal").val();
            PesoJoya = PesoReal - PesoPiedra;//Peso sin piedra = 0;
            var Max = parseFloat((($("#" + idArtJoy + " .PrecioOro").val() * PesoJoya)) * PorcentajePrestamo);
            $("#" + idArtJoy + " .MontoMaximo").val(Max.toFixed(2)); //MontoPrestamoMaximo
            $("#" + idArtJoy + " .LabelMax").text("");
            $("#" + idArtJoy + " .LabelMax").append("Monto Maximo $"+ Max.toFixed(2));
        });

        //AlModificarPesoPiedra
        $("#" + idArtJoy + " .PesoPiedra").change(function () {
            PesoPiedra = $("#" + idArtJoy + " .PesoPiedra").val();
            PesoJoya = PesoReal - PesoPiedra;//Peso sin piedra;
            var Max = parseFloat((($("#" + idArtJoy + " .PrecioOro").val() * PesoJoya)) * PorcentajePrestamo);
            $("#" + idArtJoy + " .MontoMaximo").val(Max.toFixed(2)); //MontoPrestamoMaximo
            $("#" + idArtJoy + " .LabelMax").text("");
            $("#" + idArtJoy + " .LabelMax").append("Monto Maximo $"+ Max.toFixed(2));
            $("#" + idArtJoy + " .PesoFinal").val(PesoJoya);


        });

        //$( ".MontoArtjoy" ).keypress(function() {

        //     totalAct = parseInt(totalAct, $(".TotalPrestamo").val());
        //     montoJoy = parseInt(montoJoy,$(".MontoArtjoy").val());
        //     TotalNuevo = totalAct + montoJoy;
        //    $(".TotalPrestamo").val(TotalNuevo);
        // });


    </script>