﻿@model MongePio.Models.DescripcionArticuloElectrico

    <div class="col-sm-12"  id="@Model.Id">

        @using (Html.BeginCollectionItem("ArticuloElectrico"))
        {
        <div class="form-horizontal">
            @Html.HiddenFor(model => model.IdPreEmpeño)
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.Marca, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Marca, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Marca, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Modelo, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Modelo, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Modelo, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Seire, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Seire, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Seire, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Descripcion, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Descripcion, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Descripcion, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.IdCategoriaElectrico, "Categoria", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.IdCategoriaElectrico, (IEnumerable<SelectListItem>)ViewBag.CategoriasElectrico, "Seleccionar", htmlAttributes: new { @class = "form-control" })

                    @Html.ValidationMessageFor(model => model.IdCategoriaElectrico, "", new { @class = "text-danger" })
                </div>
            </div>


            <div class="form-group">
                @Html.LabelFor(model => model.IdPaquete, "Paquete", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-6">
                    @Html.DropDownListFor(model => model.IdPaquete, (IEnumerable<SelectListItem>)ViewBag.Paquetes, "Seleccionar", htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.IdPaquete, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.MontoPrestamo, "Monto Prestamo", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-6">
                    @Html.TextBoxFor(model => model.MontoPrestamo, new { @class = "form-control", @type = "number", @min = "0", @max = "100000" })
                    @Html.ValidationMessageFor(model => model.MontoPrestamo, "", new { @class = "text-danger" })
                </div>
            </div>

        </div>
        }
        <a href="#@Model.Id" class="btn btn-danger btn-xs pull-right btn-eliminar-destino">Borrar Articulo</a>
    </div>
    <script>
        $('body').on('click', '.btn-eliminar-destino', function () {

          var $btn = $(this);
          var hash = $btn.attr("href");

          $(hash).fadeOut();
            setTimeout(function () {
                $(hash).remove();
            }, 2000);

          });


    </script>

