﻿@model MongePio.Models.Prevaluo

@{
    ViewBag.Title = "Electricos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Electricos</h2>


@using (Html.BeginForm()) 
{
  
    
<div class="form-horizontal">
    <h4>Electricos</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Id);
    @Html.HiddenFor(model => model.IdUsuaroCaptura);
    @Html.HiddenFor(model => model.IdSucursal);


    <div class="form-group">
        <label class="control-label col-md-2">Duración</label>
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.IdDuracion, (IEnumerable<SelectListItem>)ViewBag.IdDuracion, "Select ", htmlAttributes: new { @class = "form-control DuracionE" })
            @Html.ValidationMessageFor(model => model.IdDuracion, "", new { @class = "text-danger" })
            @Html.EditorFor(model => model.IdDuracion, new { htmlAttributes = new { @class = "form-control IdDuracion", @type = "hidden" } })

        </div>
    </div>


    <div id="Empeño_Articulo2" class="col-md-6">
        <h4 class="BttnArtEle"></h4>
    </div>


    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
</div>
}

 

<script>
    $(document).ready()
    {
        $(".DuracionE").change(function(){
            var bttn = $(this).children("option:selected").val();
            
                var url2 = 'Agregar Electrico @Ajax.ActionLink("Agregar Articulo Electrico ", "ArticuloElectrico", new { @id = Model.Id,@IdDuracion= "-1" }, new AjaxOptions() { OnComplete = "", UpdateTargetId = "Empeño_Articulo2", InsertionMode = InsertionMode.InsertAfter }, new { @name = " ArticuloElectrico.Index", @class = "btn btn-success btn-xs", id = "Electrico" })';
                        url2 = url2.replace('-1',bttn);
                $(".BttnArtEle").append(url2);
 
                $(this).attr('disabled', 'disabled');
                $('.IdDuracion').val(bttn);         
            });
    } 
</script>