﻿@model IEnumerable<MongePio.Models.Prevaluo>

@{
    ViewBag.Title = "Electricos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Electricos</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nip)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaCaptura)
        </th>
        <th>
            Disponible
        </th>
        <th>
            Sucursal
        </th>
        <th>
            Cantidad Articulos
        </th>
        <th>
            Monto 
        </th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Nip)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.FechaCaptura)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.IsDisponible)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Sucursal.Nombre)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.CantidadArticulos)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Monto)
    </td>

</tr>
}

</table>
