﻿@model MongePio.Models.Users

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" sizes="16x16" href="">
    <title>Monge Pio</title>
    <!-- Bootstrap Core CSS -->
    <link href="~/Content/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <!-- animation CSS -->
    <link href="~/Content/css/animate.css" rel="stylesheet" />
    <!-- Custom CSS -->
    <link href="~/Content/css/style.css" rel="stylesheet" />
    <!-- color CSS -->
    <link href="~/Content/css/colors/default.css" rel="stylesheet" />
    <link href="~/Content/custom-intersel.css" rel="stylesheet" />

</head>
<body>
    <!-- Preloader -->
    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
        </svg>
    </div>
    <section id="wrapper" class="login-register">

        <div class="ac m-t-40"> <img src="~/Content/images/logo.png" height="200" /> </div>
        <div class="login-box">
            <div class="white-box" id="mainContainer">
                <div id="loginContainer">
                    @using (@Html.BeginForm("Login", "Account", FormMethod.Post, new { @class = "form-horizontal" }))
                    {
                        <h3 class="m-b-20 text-center">Inicio de sesión.</h3>
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.Label("Usuario", "Usuario", new { @class = "col-md-2 control-label" })
                            <div class="col-md-10">
                                @Html.TextBoxFor(m => m.Username, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Username, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.Label("Contrasena", "Contraseña", new { @class = "col-md-2 control-label" })
                            <div class="col-md-10">
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group m-b-10">
                            
                        </div>

                        <br />
                        @Html.ValidationSummary(true)
                        <br />
                        <div class="form-group text-center m-b-10">

                            <div class="col-md-12">
                                <button class="btn btn-primary-inter btn-lg btn-block waves-effect waves-light" type="submit">Iniciar</button>
                            </div>
                        </div>

                    }
                </div>
            </div>
        </div>
        
    </section>


    <!-- jQuery -->
    <script src="~/Content/plugins/bower_components/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="~/Content/bootstrap/dist/js/bootstrap.min.js"></script>
    <!--slimscroll JavaScript -->
    <script src="~/Content/js/jquery.slimscroll.js"></script>
    <!--Wave Effects -->
    <script src="~/Content/js/waves.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="~/Content/js/custom.min.js"></script>
    <!--Style Switcher -->
    <script src="~/Content/plugins/bower_components/styleswitcher/jQuery.style.switcher.js"></script>
</body>
</html>