﻿.field-validation-error {
    margin-left: 10px !important;
}

.input-validation-error {
    border: 2px solid #ff3c3c !important;
}

.hand {
    cursor: pointer;
}

.btn-primary-inter {
    background: #303641 none repeat scroll 0 0;
    border: 1px solid #303641;
    color: #ffffff;
}

    .btn-primary-inter:hover {
        background: #3E4653 none repeat scroll 0 0;
        border: 1px solid #3E4653;
        color: #ffffff;
    }

#wrapper {
    overflow: scroll !important;
}

.hide {
    display: none !important;
}

a {
    color: #01C0C8;
}

.label-default {
    background-color: #c2cad8;
}

.m-l-0 {
    margin-left: 0px !important;
}

.m-l-5 {
    margin-left: 5px !important;
}

.m-l-10 {
    margin-left: 10px !important;
}

.m-l-15 {
    margin-left: 15px !important;
}

.m-l-20 {
    margin-left: 20px !important;
}

.m-r-0 {
    margin-right: 0px !important;
}

.m-r-5 {
    margin-right: 5px !important;
}

.m-r-10 {
    margin-right: 10px !important;
}

.m-r-15 {
    margin-right: 15px !important;
}

.m-r-20 {
    margin-right: 20px !important;
}

.m-t-0 {
    margin-top: 0px !important;
}

.m-t-5 {
    margin-top: 5px !important;
}

.m-t-10 {
    margin-top: 10px !important;
}

.m-t-15 {
    margin-top: 15px !important;
}

.m-t-20 {
    margin-top: 20px !important;
}

.m-b-0 {
    margin-bottom: 0px !important;
}

.m-b-5 {
    margin-bottom: 5px !important;
}

.m-b-10 {
    margin-bottom: 10px !important;
}

.m-b-15 {
    margin-bottom: 15px !important;
}

.m-b-20 {
    margin-bottom: 20px !important;
}

.mar-0, .nomargin {
    margin: 0px;
}

.mar-5 {
    margin: 5px;
}

.mar-10 {
    margin: 10px;
}

.mar-15 {
    margin: 15px;
}

.mar-20 {
    margin: 20px;
}

.p-l-0 {
    padding-left: 0px;
}

.p-l-5 {
    padding-left: 5px;
}

.p-l-10 {
    padding-left: 10px;
}

.p-l-15 {
    padding-left: 15px;
}

.p-l-20 {
    padding-left: 20px;
}

.p-l-30 {
    padding-left: 30px;
}

.p-l-40 {
    padding-left: 40px;
}

.p-r-0 {
    padding-right: 0px;
}

.p-r-5 {
    padding-right: 5px;
}

.p-r-10 {
    padding-right: 10px;
}

.p-r-15 {
    padding-right: 15px;
}

.p-r-20 {
    padding-right: 20px;
}

.p-r-30 {
    padding-right: 30px;
}

.p-r-40 {
    padding-right: 40px;
}

.p-t-0 {
    padding-top: 0px;
}

.p-t-5 {
    padding-top: 5px;
}

.p-t-10 {
    padding-top: 10px;
}

.p-t-15 {
    padding-top: 15px;
}

.p-t-20 {
    padding-top: 20px;
}

.p-t-30 {
    padding-top: 30px;
}

.p-t-40 {
    padding-top: 40px;
}

.p-b-0 {
    padding-bottom: 0px;
}

.p-b-5 {
    padding-bottom: 5px;
}

.p-b-10 {
    padding-bottom: 10px;
}

.p-b-15 {
    padding-bottom: 15px;
}

.p-b-20 {
    padding-bottom: 20px;
}

.p-b-30 {
    padding-bottom: 30px;
}

.p-b-40 {
    padding-bottom: 40px;
}

.pad-0, .nopadding {
    padding: 0px;
}

.pad-5 {
    padding: 5px;
}

.pad-10 {
    padding: 10px;
}

.pad-15 {
    padding: 15px;
}

.pad-20 {
    padding: 20px;
}

.pad-30 {
    padding: 30px;
}

.pad-40 {
    padding: 40px;
}


.pad-0 {
    padding: 0px;
}

.pad-5 {
    padding: 5px;
}

.pad-10 {
    padding: 10px;
}

.pad-15 {
    padding: 15px;
}

.pad-20 {
    padding: 20px;
}

.borderr2 {
    border-radius: 2px;
}

.borderr3 {
    border-radius: 3px;
}

.borderr5 {
    border-radius: 5px;
}

.borderr10 {
    border-radius: 10px;
}

.margin0 {
    margin: 0;
}

.noborder {
    border: none;
}

.lh-1em {
    line-height: 1em;
}

.helpcursor {
    cursor: help;
}

.upper {
    text-transform: uppercase;
}

.lower {
    text-transform: lowercase;
}

.fs10 {
    font-size: 10px !important;
}

.fs11 {
    font-size: 11px !important;
}

.fs12 {
    font-size: 12px !important;
}

.fs13 {
    font-size: 13px !important;
}

.fs14 {
    font-size: 14px !important;
}

.fs16 {
    font-size: 16px !important;
}

.fs18 {
    font-size: 18px !important;
}

.fs20 {
    font-size: 20px !important;
}

.fs22 {
    font-size: 22px !important;
}

.fs24 {
    font-size: 24px !important;
}

.fs26 {
    font-size: 26px !important;
}

.fs28 {
    font-size: 28px !important;
}

.fs30 {
    font-size: 30px !important;
}

.fs32 {
    font-size: 32px !important;
}

.fs48 {
    font-size: 48px !important;
}

.fs64 {
    font-size: 64px !important;
}

.over-y {
    overflow-y: auto;
}

.fright {
    float: right;
}

.fleft {
    float: left;
}




body, html, input, textarea, select, button {
    font-family: "Poppins",'Segoe UI', Arial, sans-serif !important;
    font-size: 12px;
}


.bg-title {
    overflow: visible;
}

.scrollup {
    display: none !important;
}

.tbRowDivider td {
    height: 1px !important;
    border-bottom: 1px solid #000 !important;
    border-top: 1px solid #000 !important;
    padding: 0 !important;
}

.dashboard-inner-text {
    color: #000;
    font-size: 11px;
    font-weight: normal;
    text-transform: none;
}

#zenbox_tab {
    display: none !important;
}

.selected_table_header {
    background-color: #D8D9DA !important;
    color: #000 !important;
}

.arrow_up, .sortAsc {
    background: rgba(0, 0, 0, 0) url("images/triangleUp_black.png") no-repeat scroll right center;
    display: inline-block;
    height: 10px;
    margin-left: 3px;
    width: 10px;
}

.arrow_down, .sortDesc {
    background: rgba(0, 0, 0, 0) url("images/triangleDown_black.png") no-repeat scroll right center;
    display: inline-block;
    height: 10px;
    margin-left: 3px;
    width: 10px;
}

.helpcursor {
    cursor: help;
}

a.link-report .white-box {
    transition: all ease-in-out 300ms;
    outline: 5px solid rgba(255,255,255,0.65);
    outline-offset: -5px;
}

a.link-report:hover .white-box {
    transition: all ease-in-out 300ms;
    box-shadow: 2px 3px 20px rgba(0,0,0,0.2);
}

a.link-report-dashboard .white-box {
    transition: all ease-in-out 300ms;
}

    a.link-report-dashboard .white-box:hover {
        transition: all ease-in-out 300ms;
        box-shadow: 2px 3px 20px rgba(0,0,0,0.2);
        transform: scale(1.01);
    }

.tile-title {
    /*display:inline;
    vertical-align:middle; 
    margin-top:-12px;*/
}

#SummaryContainer {
    width: 100%;
    overflow: auto;
}

.table tbtruncate td {
    text-overflow: ellipsis;
    overflow: hidden; /*white-space:nowrap;*/
}

.table.tbtruncatenowrap tbody td, .table.tbtruncatenowrap tbody th {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding: 8px !important;
    vertical-align: middle;
}

b, strong {
    font-weight: 500;
}


.table.hovered tbody tr:hover {
    background-color: rgba(28, 183, 236, 0.1);
}


/*
    sticky headers for tables
**********************************/

th {
    background-color: #fff;
    font-weight: 600;
    color: #333;
    white-space: normal;
}

tbody th {
    background-color: #f0f5f7;
}

/*tbody tr:hover {
    background-color: rgba(28, 183, 236, 0.1);
}*/

/* For appearance */
.sticky-wrap {
    overflow-x: auto;
    overflow-y: hidden;
    position: relative;
    width: 100%;
}

    .sticky-wrap .sticky-thead,
    .sticky-wrap .sticky-col,
    .sticky-wrap .sticky-intersect {
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        transition: all .125s ease-in-out;
        z-index: 50;
        width: auto; /* Prevent table from stretching to full size */
    }

    .sticky-wrap .sticky-thead {
        box-shadow: 0 0.25em 0.1em -0.1em rgba(0,0,0,.125);
        z-index: 100;
        width: 100%; /* Force stretch */
    }

    .sticky-wrap .sticky-intersect {
        opacity: 1;
        z-index: 150;
    }

        .sticky-wrap .sticky-intersect th {
            background-color: #3c4451;
            color: #eee;
        }

    .sticky-wrap td,
    .sticky-wrap th {
        box-sizing: border-box;
    }

/* Not needed for sticky header/column functionality */
td.user-name {
    text-transform: capitalize;
}

.sticky-wrap.overflow-y {
    overflow-y: auto;
    max-height: 50vh;
}



.tbServicesDetail {
    width: 700px !important;
    text-align: center !important;
    margin-left: 48px !important;
}


    .tbServicesDetail div {
        /*font-size: 13px;*/
        font-weight: 500;
    }



.table.noborder > thead > tr > th, .table.noborder > tbody > tr > th,
.table.noborder > tfoot > tr > th, .table.noborder > thead > tr > td,
.table.noborder > tbody > tr > td, .table.noborder > tfoot > tr > td {
    border-top: none;
}






.ac {
    text-align: center !important;
}

.al {
    text-align: left !important;
}

.ar {
    text-align: right !important;
}


.headerOrder {
    cursor: pointer;
}


.text-custom {
    color: #01c0c8 !important;
}

.breadcrumb > li:before {
    padding: 0 5px;
    color: #ccc;
    content: "/\00a0";
}

.fix-header #page-wrapper {
    padding-top: 60px;
    margin-top: 0 !important;
}

.scrollable-menu {
    height: auto;
    max-height: 600px;
    overflow-x: hidden;
}

/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error-custom {
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 5px;
    background-color: #f2dede;
    border-color: #ebccd1;
    color: #b94a48;
}

.field-validation-error {
    color: #FF3C3C;
}

.input-validation-error {
    background: transparent none repeat scroll 0 0 !important;
    border-bottom: 2px solid #FF3C3C !important;
}

.field-validation-valid {
    display: none;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    font-weight: bold;
    color: #FF3C3C;
}

.validation-summary-valid {
    display: none;
}



.login-box {
    margin-top: 2%;
    width: 500px;
}


.register-box {
    background: #ffffff;
    width: 800px;
    margin: 0 auto;
    margin-top: 2%;
}

.requirements-box {
    width: 500px;
    margin: 0 auto;
    font-size: 11px;
    opacity: 0.85;
}

    .requirements-box a {
        color: aqua;
    }


    .requirements-box.terms {
        width: 800px !important;
    }

.login-register {
    height: 100%;
    position: fixed;
    background: radial-gradient(at top, rgba(255, 255, 255, 1), rgba(255, 255, 255, .3) ), url(plugins/images/login-register.jpg) repeat center center / cover !important;
}

.about {
    margin-left: 10px;
    color: #8D98A5;
    font-size: 10px;
}

/***************************************
  Please-wait.css
****************************************/

/* line 17, ../src/please-wait.scss */
body.pg-loading {
    overflow: hidden;
}

/* line 21, ../src/please-wait.scss */
.pg-loading-screen {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1000000;
    opacity: 1;
    background-color: #006174;
    -webkit-transition: background-color 0.6s ease-in-out 0s;
    -moz-transition: background-color 0.6s ease-in-out 0s;
    -ms-transition: background-color 0.6s ease-in-out 0s;
    -o-transition: background-color 0.6s ease-in-out 0s;
    transition: background-color 0.6s ease-in-out 0s;
}
    /* line 32, ../src/please-wait.scss */
    .pg-loading-screen.pg-loaded {
        opacity: 0;
        -webkit-animation: pgAnimLoaded 0.5s cubic-bezier(0.7, 0, 0.3, 1) both;
        -moz-animation: pgAnimLoaded 0.5s cubic-bezier(0.7, 0, 0.3, 1) both;
        -ms-animation: pgAnimLoaded 0.5s cubic-bezier(0.7, 0, 0.3, 1) both;
        -o-animation: pgAnimLoaded 0.5s cubic-bezier(0.7, 0, 0.3, 1) both;
        animation: pgAnimLoaded 0.5s cubic-bezier(0.7, 0, 0.3, 1) both;
    }
    /* line 38, ../src/please-wait.scss */
    .pg-loading-screen.pg-loading .pg-loading-logo-header, .pg-loading-screen.pg-loading .pg-loading-html {
        opacity: 1;
    }
        /* line 42, ../src/please-wait.scss */
        .pg-loading-screen.pg-loading .pg-loading-logo-header, .pg-loading-screen.pg-loading .pg-loading-html:not(.pg-loaded) {
            -webkit-animation: pgAnimLoading 1s cubic-bezier(0.7, 0, 0.3, 1) both;
            -moz-animation: pgAnimLoading 1s cubic-bezier(0.7, 0, 0.3, 1) both;
            -ms-animation: pgAnimLoading 1s cubic-bezier(0.7, 0, 0.3, 1) both;
            -o-animation: pgAnimLoading 1s cubic-bezier(0.7, 0, 0.3, 1) both;
            animation: pgAnimLoading 1s cubic-bezier(0.7, 0, 0.3, 1) both;
        }
        /* line 46, ../src/please-wait.scss */
        .pg-loading-screen.pg-loading .pg-loading-html:not(.pg-loaded) {
            -webkit-animation-delay: 0.3s;
            -moz-animation-delay: 0.3s;
            -ms-animation-delay: 0.3s;
            -o-animation-delay: 0.3s;
            animation-delay: 0.3s;
        }
    /* line 51, ../src/please-wait.scss */
    .pg-loading-screen .pg-loading-inner {
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
        position: static;
    }
    /* line 59, ../src/please-wait.scss */
    .pg-loading-screen .pg-loading-center-outer {
        width: 100%;
        padding: 0;
        display: table !important;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        margin: 0;
    }
    /* line 70, ../src/please-wait.scss */
    .pg-loading-screen .pg-loading-center-middle {
        padding: 0;
        vertical-align: middle;
        display: table-cell !important;
        margin: 0;
        text-align: center;
    }
    /* line 78, ../src/please-wait.scss */
    .pg-loading-screen .pg-loading-logo-header, .pg-loading-screen .pg-loading-html {
        width: 100%;
        opacity: 0;
    }
    /* line 83, ../src/please-wait.scss */
    .pg-loading-screen .pg-loading-logo-header {
        text-align: center;
    }
        /* line 86, ../src/please-wait.scss */
        .pg-loading-screen .pg-loading-logo-header img {
            display: inline-block !important;
        }
    /* line 91, ../src/please-wait.scss */
    .pg-loading-screen .pg-loading-html {
        margin-top: 10px;
    }
        /* line 94, ../src/please-wait.scss */
        .pg-loading-screen .pg-loading-html.pg-loaded {
            -webkit-transition: opacity 0.5s cubic-bezier(0.7, 0, 0.3, 1);
            -moz-transition: opacity 0.5s cubic-bezier(0.7, 0, 0.3, 1);
            -ms-transition: opacity 0.5s cubic-bezier(0.7, 0, 0.3, 1);
            -o-transition: opacity 0.5s cubic-bezier(0.7, 0, 0.3, 1);
            transition: opacity 0.5s cubic-bezier(0.7, 0, 0.3, 1);
        }
            /* line 97, ../src/please-wait.scss */
            .pg-loading-screen .pg-loading-html.pg-loaded.pg-removing {
                opacity: 0;
            }
            /* line 101, ../src/please-wait.scss */
            .pg-loading-screen .pg-loading-html.pg-loaded.pg-loading {
                opacity: 1;
            }

@-webkit-keyframes pgAnimLoading {
    from {
        opacity: 0;
    }
}

@-moz-keyframes pgAnimLoading {
    from {
        opacity: 0;
    }
}

@-o-keyframes pgAnimLoading {
    from {
        opacity: 0;
    }
}

@-ms-keyframes pgAnimLoading {
    from {
        opacity: 0;
    }
}

@keyframes pgAnimLoading {
    from {
        opacity: 0;
    }
}

@-webkit-keyframes pgAnimLoaded {
    from {
        opacity: 1;
    }
}

@-moz-keyframes pgAnimLoaded {
    from {
        opacity: 1;
    }
}

@-o-keyframes pgAnimLoaded {
    from {
        opacity: 1;
    }
}

@-ms-keyframes pgAnimLoaded {
    from {
        opacity: 1;
    }
}

@keyframes pgAnimLoaded {
    from {
        opacity: 1;
    }
}

.sk-spinner-wave.sk-spinner {
    margin: 0 auto;
    width: 150px;
    height: 60px;
    text-align: center;
    font-size: 10px;
}

.sk-spinner-wave div {
    background-color: #FFF;
    height: 100%;
    width: 6px;
    margin: 0 1px;
    display: inline-block;
    -webkit-animation: sk-waveStretchDelay 1.2s infinite ease-in-out;
    animation: sk-waveStretchDelay 1.2s infinite ease-in-out;
}

.sk-spinner-wave .sk-rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
}

.sk-spinner-wave .sk-rect3 {
    -webkit-animation-delay: -1s;
    animation-delay: -1s;
}

.sk-spinner-wave .sk-rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}

.sk-spinner-wave .sk-rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
}

@-webkit-keyframes sk-waveStretchDelay {
    0%, 40%, 100% {
        -webkit-transform: scaleY(0.4);
        transform: scaleY(0.4);
    }

    20% {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
    }
}

@keyframes sk-waveStretchDelay {
    0%, 40%, 100% {
        -webkit-transform: scaleY(0.4);
        transform: scaleY(0.4);
    }

    20% {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
    }
}

.loading-message {
    font-size: 42px;
    margin-bottom: 100px;
    font-weight: lighter;
    letter-spacing: -2px;
    color: #35A6B3;
}


#error_email, #error_passwd,
#error_name, #error_company, #error_eba_user, #error_eba_password, #error_eba_alias, #error_emailrecover,
#error_user, #error_password, #error_alias, #error_password_confirm, #error_siana_user, #error_siana_password, #error_select, #error_number {
    display: none;
    margin-top: 2px;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 14px;
    background-color: #F9EAEA;
    color: #B8211D;
    border: 0px solid #E3A198;
}

#errorContainer, #msgForgottenPassword {
    display: none;
    position: relative;
    font-size: 13px;
    margin-top: -15px;
    margin-bottom: 15px;
}

    #errorContainer span {
        position: absolute;
        right: 5px;
        top: 50%;
        transform: translate(-50%, -50%);
        font-size: 10px;
    }

.alert {
    padding: 8px 14px;
    margin-bottom: 18px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    /*background-color: #fcf8e3;
  border: 1px solid #fbeed5;
  color: #c09853;*/
}

    .alert h4 {
        margin: 0;
    }

    .alert .close {
        position: relative;
        top: -2px;
        right: -21px;
        line-height: 18px;
    }

.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
}

.alert-danger,
.alert-error-red {
    background-color: #FF5E5E;
    border-color: #CC0000;
    color: #FFFFFF;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
    margin: 10px 0;
    cursor: pointer;
    width: 400px;
    margin: 0 auto;
}

.alert-primary {
    background: #EDF1F5;
    color: #3C4451;
    border-color: #EDF1F5;
}


.card-info {
    background-color: #03a9f3;
    border-color: #03a9f3;
}



.switchery {
    border: none;
    border-radius: 20px;
    cursor: pointer;
    display: inline-block;
    height: 14px !important;
    position: relative;
    vertical-align: middle;
    width: 48px !important;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    box-sizing: content-box;
    background-clip: content-box;
    margin: 6px 2px;
}


    .switchery > small {
        height: 24px !important;
        width: 24px !important;
        margin-top: -5px !important;
    }


.table.pad5 td {
    padding: 5px 8px !important;
}





/*
    Overrides SELECT 2
    ************************************/
.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #01c0c8;
    border: none;
    border-radius: 3px;
    float: left;
    color: #fff;
    font-size: 13px;
    padding: 2px 5px;
}



.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    color: #fff;
    opacity: 0.6;
}

    .select2-container--default .select2-selection--multiple .select2-selection__choice__remove:hover {
        color: #fff;
        opacity: 1;
    }


.select2-container--default .select2-results__option[aria-selected=true] {
    background-color: #fff;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #01c0c8;
    color: white;
}



/*
    Override CHECKBOX & RADIO Primary
    *******************/
.checkbox-primary input[type=checkbox]:checked + label::before {
    background-color: #01c0c8;
    border-color: #01c0c8;
}

.radio-primary input[type="radio"]:checked + label::after {
    background-color: #01c0c8;
}

.radio-primary input[type="radio"] + label::after {
    background-color: #01c0c8;
}

.radio-primary input[type="radio"]:checked + label::before {
    border-color: #01c0c8;
}


/*
    Override TOAST de mensajes de error
    ***************************************/

.jq-toast-wrap {
    display: block;
    position: fixed;
    width: 500px;
    pointer-events: none !important;
    margin: 0;
    padding: 0;
    letter-spacing: normal;
    z-index: 9000 !important;
}

.jq-toast-single h2 {
    font-family: "Poppins", arial, sans-serif;
    font-weight: 600;
}

.jq-toast-single {
    font-family: "Poppins", arial, sans-serif;
}

.jq-icon-error {
    /*background-color: #a94442;*/
    background-color: #fc5645;
    color: #fff;
    border-color: #ebccd1;
}




/*
    added CSS for tables
*/

.color-table.primary-table thead th {
    background-color: #ab8ce4;
    color: #fff
}

.color-table.success-table thead th {
    background-color: #00c292;
    color: #fff
}

.color-table.info-table thead th {
    background-color: #03a9f3;
    color: #fff
}

.color-table.warning-table thead th {
    background-color: #fec107;
    color: #fff
}

.color-table.danger-table thead th {
    background-color: #fb9678;
    color: #fff
}

.color-table.inverse-table thead th {
    background-color: #4c5667;
    color: #fff
}

.color-table.dark-table thead th {
    background-color: #2b2b2b;
    color: #fff
}

.color-table.red-table thead th {
    background-color: #fb3a3a;
    color: #fff
}

.color-table.purple-table thead th {
    background-color: #9675ce;
    color: #fff
}

.color-table.muted-table thead th {
    background-color: #98a6ad;
    color: #fff
}

.color-bordered-table.primary-bordered-table {
    border: 2px solid #ab8ce4
}

    .color-bordered-table.primary-bordered-table thead th {
        background-color: #ab8ce4;
        color: #fff
    }

.color-bordered-table.success-bordered-table {
    border: 2px solid #00c292
}

    .color-bordered-table.success-bordered-table thead th {
        background-color: #00c292;
        color: #fff
    }

.color-bordered-table.info-bordered-table {
    border: 2px solid #03a9f3
}

    .color-bordered-table.info-bordered-table thead th {
        background-color: #03a9f3;
        color: #fff
    }

.color-bordered-table.warning-bordered-table {
    border: 2px solid #fec107
}

    .color-bordered-table.warning-bordered-table thead th {
        background-color: #fec107;
        color: #fff
    }

.color-bordered-table.danger-bordered-table {
    border: 2px solid #fb9678
}

    .color-bordered-table.danger-bordered-table thead th {
        background-color: #fb9678;
        color: #fff
    }

.color-bordered-table.inverse-bordered-table {
    border: 2px solid #4c5667
}

    .color-bordered-table.inverse-bordered-table thead th {
        background-color: #4c5667;
        color: #fff
    }

.color-bordered-table.dark-bordered-table {
    border: 2px solid #2b2b2b
}

    .color-bordered-table.dark-bordered-table thead th {
        background-color: #2b2b2b;
        color: #fff
    }

.color-bordered-table.red-bordered-table {
    border: 2px solid #fb3a3a
}

    .color-bordered-table.red-bordered-table thead th {
        background-color: #fb3a3a;
        color: #fff
    }

.color-bordered-table.purple-bordered-table {
    border: 2px solid #9675ce
}

    .color-bordered-table.purple-bordered-table thead th {
        background-color: #9675ce;
        color: #fff
    }

.color-bordered-table.muted-bordered-table {
    border: 2px solid #98a6ad
}

    .color-bordered-table.muted-bordered-table thead th {
        background-color: #98a6ad;
        color: #fff
    }

.full-color-table.full-primary-table {
    background-color: rgba(171, 140, 228, .8)
}

    .full-color-table.full-primary-table thead th {
        background-color: #ab8ce4;
        border: 0 !important;
        color: #fff
    }

    .full-color-table.full-primary-table tbody td {
        border: 0 !important;
        color: #fff
    }

    .full-color-table.full-primary-table tr:hover {
        background-color: #ab8ce4
    }

.full-color-table.full-success-table {
    background-color: rgba(0, 194, 146, .8)
}

    .full-color-table.full-success-table thead th {
        background-color: #00c292;
        border: 0 !important;
        color: #fff
    }

    .full-color-table.full-success-table tbody td {
        border: 0 !important;
        color: #fff
    }

    .full-color-table.full-success-table tr:hover {
        background-color: #00c292
    }

.full-color-table.full-info-table {
    background-color: rgba(3, 169, 243, .8)
}

.full-color-table.full-info-table thead th {
    background-color: #03a9f3;
    border: 0 !important;
    color: #fff
}

.full-color-table.full-info-table tbody td {
    border: 0 !important;
    color: #fff
}

.full-color-table.full-info-table tr:hover {
    background-color: #03a9f3
}

.full-color-table.full-warning-table {
    background-color: rgba(254, 193, 7, .8)
}

.full-color-table.full-warning-table thead th {
    background-color: #fec107;
    border: 0 !important;
    color: #fff
}

.full-color-table.full-warning-table tbody td {
    border: 0 !important;
    color: #fff
}

.full-color-table.full-warning-table tr:hover {
    background-color: #fec107
}

.full-color-table.full-danger-table {
    background-color: rgba(251, 150, 120, .8)
}

.full-color-table.full-danger-table thead th {
    background-color: #fb9678;
    border: 0 !important;
    color: #fff
}

.full-color-table.full-danger-table tbody td {
    border: 0 !important;
    color: #fff
}

.full-color-table.full-danger-table tr:hover {
    background-color: #fb9678
    }

.full-color-table.full-inverse-table {
    background-color: rgba(76, 86, 103, .8)
}

.full-color-table.full-inverse-table thead th {
    background-color: #4c5667;
    border: 0 !important;
    color: #fff
}

.full-color-table.full-inverse-table tbody td {
    border: 0 !important;
    color: #fff
}

.full-color-table.full-inverse-table tr:hover {
    background-color: #4c5667
}

.full-color-table.full-dark-table {
    background-color: rgba(43, 43, 43, .8)
}

.full-color-table.full-dark-table thead th {
    background-color: #2b2b2b;
    border: 0 !important;
    color: #fff
}

.full-color-table.full-dark-table tbody td {
    border: 0 !important;
    color: #fff
}

.full-color-table.full-dark-table tr:hover {
    background-color: #2b2b2b
}

.full-color-table.full-red-table {
    background-color: rgba(251, 58, 58, .8)
}

.full-color-table.full-red-table thead th {
    background-color: #fb3a3a;
    border: 0 !important;
    color: #fff
}

.full-color-table.full-red-table tbody td {
    border: 0 !important;
    color: #fff
}

.full-color-table.full-red-table tr:hover {
    background-color: #fb3a3a
}

.full-color-table.full-purple-table {
    background-color: rgba(150, 117, 206, .8)
}

.full-color-table.full-purple-table thead th {
    background-color: #9675ce;
    border: 0 !important;
    color: #fff
}

.full-color-table.full-purple-table tbody td {
    border: 0 !important;
    color: #fff
}

.full-color-table.full-purple-table tr:hover {
    background-color: #9675ce
}

.full-color-table.full-muted-table {
    background-color: rgba(152, 166, 173, .8)
}

.full-color-table.full-muted-table thead th {
    background-color: #98a6ad;
    border: 0 !important;
    color: #fff
}

.full-color-table.full-muted-table tbody td {
    border: 0 !important;
    color: #fff
}

.full-color-table.full-muted-table tr:hover {
    background-color: #98a6ad
}

.rowHierarchyDivider {
    padding: 2px 10px;
    border-bottom: 1px dotted #e5e5e5;
}

/*
    Overrides SELECT 2
    ************************************/
.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #01c0c8;
    border: none;
    border-radius: 3px;
    float: left;
    color: #fff;
    font-size: 13px;
    padding: 2px 5px;
}



.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    color: #fff;
    opacity: 0.6;
}

    .select2-container--default .select2-selection--multiple .select2-selection__choice__remove:hover {
        color: #fff;
        opacity: 1;
    }


.select2-container--default .select2-results__option[aria-selected=true] {
    background-color: #fff;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #01c0c8;
    color: white;
}



/*
    Override CHECKBOX & RADIO Primary
    *******************/
.checkbox-primary input[type=checkbox]:checked + label::before {
    background-color: #01c0c8;
    border-color: #01c0c8;
}

.radio-primary input[type="radio"]:checked + label::after {
    background-color: #01c0c8;
}

.radio-primary input[type="radio"] + label::after {
    background-color: #01c0c8;
}

.radio-primary input[type="radio"]:checked + label::before {
    border-color: #01c0c8;
}


/*
    Override TOAST de mensajes de error
    ***************************************/

.jq-toast-wrap {
    display: block;
    position: fixed;
    width: 500px;
    pointer-events: none !important;
    margin: 0;
    padding: 0;
    letter-spacing: normal;
    z-index: 9000 !important;
}

.jq-toast-single h2 {
    font-family: "Poppins", arial, sans-serif;
    font-weight: 600;
}

.jq-toast-single {
    font-family: "Poppins", arial, sans-serif;
}

.jq-icon-error {
    /*background-color: #a94442;*/
    background-color: #fc5645;
    color: #fff;
    border-color: #ebccd1;
}


/* Override DATERANGE PICKER
    ******************************/
.daterangepicker td.active, .daterangepicker td.active:hover {
    background-color: #01c0c8;
    border-color: transparent;
    color: #fff;
}

.daterangepicker td.in-range {
    background-color: #EDF0F5;
    border-color: transparent;
    color: #000;
    border-radius: 0;
}

.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
    padding: 8px;
}

.arrow_up {
    background: url(images/triangleUp.png) no-repeat center right;
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-left: 3px;
}

.arrow_down {
    background: url(images/triangleDown.png) no-repeat center right;
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-left: 3px;
}

.headerOrder {
    cursor: pointer;
    text-decoration: none !important;
}

.selected_table_header {
    background-color: #3C4451 !important;
    color: #fff;
}

.selected_table_header i {
    color: #fff !important;
}

.selected_table_header a, .selected_table_header a:hover, .selected_table_header span {
    color: #fff !important;
}

.table_list tbody tr:hover {
    background-color: #EDEEF0 !important;
}

.table_list tbody tr.background-tr:hover {
    background-color: #71AE34 !important;
}